.App {
  text-align: center;
  border: red;
  border-color: red;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container{
  
}
h2{
  margin-top: -2rem;
 }

.login-container{
  
  background-color: rgb(172, 201, 225);
  border-radius: 20px;
  width: 12em;
  display: grid;
  margin: auto;
  justify-items: center;
  justify-content: center;
  margin-top: 12rem;
  padding: 4em;
 
  .input{
    
    margin: 0.8em;
    height: 1.7em;
    width: 13rem;
    border-radius: 0.5rem;
  
  }
  .input-btn{
    background-color:rgb(28, 166, 190);
    color: #f8f8f8ef;
    height: 2rem;
    width: 4rem;
    border-radius: 0.5rem;
  }
}